.App{
    text-align: center;
    min-height: 100vh;
    background-color: black;
    
}

.App button{
    padding: 12px 35px;
    border: none;
    outline: none;
    color: white;
    display: inline-block;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-48%, -50%);
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
}

.container img{
    width: 200px;
  
}